<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    beStrictAboutOutputDuringTests="true"
    colors="true"
>
    <php>
        <env name="BSTALK_ENABLED" value="0" />
        <env name="BSTALK1_HOST" value="127.0.0.1" />
        <env name="BSTALK1_PORT" value="11300" />
        <env name="BSTALK2_HOST" value="127.0.0.1" />
        <env name="BSTALK2_PORT" value="11300" />
    </php>

    <testsuites>
        <testsuite name="Phlib Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
