<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">

    <php>
        <!--<var name="BSTALK_HOST" value="127.0.0.1" />-->
        <!--<var name="BSTALK_PORT" value="11300" />-->
    </php>

    <testsuites>
        <testsuite name="Beanstalk Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
