<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">

    <php>
        <env name="BSTALK_ENABLED" value="0" />
        <env name="BSTALK1_HOST" value="127.0.0.1" />
        <env name="BSTALK1_PORT" value="11300" />
        <env name="BSTALK2_HOST" value="127.0.0.1" />
        <env name="BSTALK2_PORT" value="11300" />
    </php>

    <testsuites>
        <testsuite name="Beanstalk Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
